<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzdkx.media.mapper.MediaMaterialMapper">
    <insert id="insert">
        insert into wm_material (user_id , url , type , is_collection , created_time)
        values (#{mediaMaterial.userId} , #{mediaMaterial.url} ,#{mediaMaterial.type}, #{mediaMaterial.isCollection} , #{mediaMaterial.createdTime})
    </insert>
    <select id="getListAll" resultType="com.fzdkx.model.media.bean.MediaMaterial">
        select * from wm_material
        where is_collection = #{isCollection} and user_id = #{userId}
        order by created_time desc
    </select>
    <select id="getIds" resultType="java.lang.Long">
        select id from wm_material
        where url in 
        <foreach collection="images" item="image" open="(" close=")" separator=",">
            #{images}
        </foreach>
    </select>
</mapper>