<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzdkx.article.mapper.ArticleContentMapper">
    <select id="selectArticleContentById" resultType="com.fzdkx.model.article.bean.ArticleContent">
        select * from ap_article_content
        where article_id = #{articleId}
    </select>
</mapper>